<div class="panel panel-primary"
     ng-class="{'panel-success':dataSource.passed, 'panel-danger': dataSource.passed==false, 'panel-default':dataSource.passed!=true && dataSource.passed!=false}">

  <div class="panel-heading">
    <h3 class="panel-title" ng-switch="dataSource.passed">
            <span ng-switch-when="true">
                <i class="glyphicon glyphicon-thumbs-up"></i> Connection Successful
            </span>
            <span ng-switch-when="false">
                <i class="glyphicon glyphicon-warning-sign"></i> Connection Failed
            </span>
            <span ng-switch-default>
                <i class="glyphicon glyphicon-plus"></i> Data Source
            </span>
    </h3>
  </div>

  <div class="panel-body">
    <form class="form-horizontal" role="form" name="conForm">
      <div class="form-group">
        <label for="dataSrcName" class="col-sm-3 control-label">Name</label>

        <div class="col-sm-8">
          <input type="text"
                 ng-model="connection.name"
                 class="form-control input-sm"
                 id="dataSrcName"
                 placeholder="Data Source Name"
                 autocomplete="off"
                 required/>
        </div>
      </div>

      <div class="form-group">
        <label for="dataSrcProvider" class="col-sm-3 control-label">Database Type</label>

        <div class="col-sm-8">
          <select id="dataSrcProvider"
                  class="form-control input-sm"
                  ng-model="connection.provider"
                  ng-options="p.provider as p.alias for p in providers"
                  required>
            <option value="">-- Select a Connection Type --</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="dataSrcConn" class="col-sm-3 control-label">
          Connection String<br/>
          <button roles="119"
                  ng-disabled="conForm.$invalid"
                  class="btn btn-default"
                  ng-click="testConnection(connection)">
            <i class="glyphicon glyphicon-transfer"></i> Test Connection
          </button>
        </label>

        <div class="col-sm-8">
          <textarea rows="4"
                    ng-model="connection.connectionString"
                    class="form-control input-sm"
                    id="dataSrcConn"
                    placeholder="Connection String"
                    required>
          </textarea>
        </div>
      </div>
    </form>

    <div class="button-group text-center">
      <button class="btn btn-default" ng-click="onCancel({connection: connection})">
        <i class="glyphicon glyphicon-remove"></i> Cancel
      </button>
      <button ng-disabled="conForm.$invalid" class="btn btn-primary" ng-click="onOk({connection: connection})">
        <i class="glyphicon glyphicon-ok"></i> Ok
      </button>
    </div>
  </div>

</div>
