<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <form ng-if="showSearch" class="navbar-form navbar-left navbar-form-condensed" role="search">
      <div class="form-group">
        <div class="col-sm-8">
          <input type="text" ng-model="search.filter" class="form-control" placeholder="Search" autocomplete="off" />
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav" roles="116|117|118">
      <li>
        <a href="" ng-click="onCancelChanges()"><i class="glyphicon glyphicon-trash"></i> Cancel</a>
      </li>
      <li>
      <a href="" ng-click="onRefresh()"><i class="glyphicon glyphicon-retweet"></i> Refresh</a>
      </li>
      <li roles="117">
        <a href="" ng-click="onCreate()"><i class="glyphicon glyphicon-plus-sign"></i> New</a>
      </li>
    </ul>
    <div class="pull-right" ng-transclude></div>
  </div>
  <!-- /.container-fluid -->
</nav>
