<div>
  <db-connection-navbar ng-hide="edit.item"
                        search="search"
                        on-cancel-changes="reset()"
                        on-refresh="reload()"
                        on-create="edit.item={name:'', description:'', provider:'', connectionString:''}">

    <div ng-if="dirty()" class="change-tracker">
      <span class="label label-success">{{changes.adds.length}} New</span>&nbsp;
      <span class="label label-warning">{{changes.updates.length}} Updated</span>&nbsp;
      <span class="label label-danger">{{changes.removes.length}} Deleted</span>
    </div>
  </db-connection-navbar>

  <!-- Loading mesasge -->
  <div ng-if="!sources.$resolved">
    <h1 class="loading-inline-spinner loading-left loading">Loading Data Sources
      <small>Please wait...</small>
    </h1>
  </div>

  <!-- No data mesasge -->
  <div ng-if="sources.$resolved && !sources.length && !edit.item">
    <h1>
      <i class="glyphicon glyphicon-ban-circle"></i> No Data Sources Available
    </h1>
  </div>

  <!-- New/edit form -->
  <db-connection-editor ng-if="edit.item"
                        connection="edit.item"
                        on-cancel="update(edit.item);edit.item=null;"
                        on-ok="onEditorOk(edit.item)">
  </db-connection-editor>

  <!-- List of data sources -->
  <table class="table table-condensed table-striped table-hover"
         ng-if="!showDetails && sources.$resolved && sources.length">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="source in sources | orderBy:name | filter:search.filter"
        class="repeated-item"
        ng-class="{warning:source.$state=='update', success:source.$state=='add'}">

      <td ng-click="select(source)" ng-switch="source.$verified">
                <span ng-switch-when="true" class="badge alert-success" tooltip="Connection Successfull"
                      tooltip-placement="right">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                </span>
                <span ng-switch-when="false" class="badge alert-danger" tooltip="Connection Failed"
                      tooltip-placement="right">
                    <i class="glyphicon glyphicon-warning-sign"></i>
                </span>
                <span ng-switch-default class="badge" tooltip="Unknown Connection Status" tooltip-placement="right">
                    <i class="glyphicon glyphicon-question-sign"></i>
                </span>
      </td>
      <td>
        <strong>{{source.name | pretty}}</strong>
      </td>
      <td>
        {{providerAliases[source.provider]}}
      </td>
      <td>
        {{source.description || 'No Description'}}
      </td>
      <td>
        <span roles="119">
            <a ng-click="testConnection(source)">
              <i class="glyphicon glyphicon-transfer"></i> Test
            </a>
            &nbsp;|&nbsp;
        </span>
        <span roles="115,116">
            <a ng-click="editSource(source)" tooltip="{{source.description}}" tooltip-placement="left">
              <i class="glyphicon glyphicon-list-alt"></i> Edit
            </a>
            &nbsp;|&nbsp;
        </span>
        <a roles="118" ng-click="remove(source);" tooltip="{{source.description}}" tooltip-placement="left">
          <i class="glyphicon glyphicon-remove"></i> Delete
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
